catalogo/HELP.md
ordem/HELP.md
pessoa/HELP.md
usuario/HELP.md
eureka/HELP.md
configserver/HELP.md

catalogo/target/
ordem/target/
pessoa/target/
usuario/target/
eureka/target/
configserver/target/

catalogo/.mvn/wrapper/maven-wrapper.jar
ordem/.mvn/wrapper/maven-wrapper.jar
pessoa/.mvn/wrapper/maven-wrapper.jar
usuario/.mvn/wrapper/maven-wrapper.jar
eureka/.mvn/wrapper/maven-wrapper.jar
configserver/.mvn/wrapper/maven-wrapper.jar

catalogo/!**/src/main/**/target/
ordem/!**/src/main/**/target/
pessoa/!**/src/main/**/target/
usuario/!**/src/main/**/target/
eureka/!**/src/main/**/target/
configserver/!**/src/main/**/target/

catalogo/!**/src/test/**/target/
ordem/!**/src/test/**/target/
pessoa/!**/src/test/**/target/
usuario/!**/src/test/**/target/
eureka/!**/src/test/**/target/
configserver/!**/src/test/**/target/

catalogo/.apt_generated
ordem/.apt_generated
pessoa/.apt_generated
usuario/.apt_generated
eureka/.apt_generated
configserver/.apt_generated

catalogo/.classpath
ordem/.classpath
pessoa/.classpath
usuario/.classpath
eureka/.classpath
configserver/.classpath

catalogo/.factorypath
ordem/.factorypath
pessoa/.factorypath
usuario/.factorypath
eureka/.factorypath
configserver/.factorypath

catalogo/.project
ordem/.project
pessoa/.project
usuario/.project
eureka/.project
configserver/.project

catalogo/.settings
ordem/.settings
pessoa/.settings
usuario/.settings
eureka/.settings
configserver/.settings

catalogo/.springBeans
ordem/.springBeans
pessoa/.springBeans
usuario/.springBeans
eureka/.springBeans
configserver/.springBeans


catalogo/.sts4-cache
ordem/.sts4-cache
pessoa/.sts4-cache
usuario/.sts4-cache
eureka/.sts4-cache
configserver/.sts4-cache

### IntelliJ IDEA ###
.idea
*/*.iws
*/*.iml
*/*.ipr

